.icon {
  width: auto;
  text-align: center;
  cursor: pointer;
  user-select: none;
  position: absolute;
}

.icon img {
  display: block;
  margin: 0 auto;
}

.icon span {
  display: block;
  margin-top: 4px;
  font-size: 12px;
  color: #5f5f5f;
}
