.desktop {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  background: transparent;
}


.iconsLayer {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.windowsLayer {
  position: absolute;
  inset: 0;
  z-index: 1000;
  pointer-events: none;
}

.windowsLayer > * {
  pointer-events: auto;
}
