
.footer {
  position: absolute;
  bottom: 12px;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.footer p {
  font-size: 13px;
  color: var(--footer-fg, #888585);
  text-shadow: var(--footer-shadow, none);
}

