.header {
  height: 32px;
  background-color: #7f7c7c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  font-size: 14px;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.center {
  flex: 1;
}

.header a {
  color: white;
  text-decoration: none;
  font-weight: 300;
}

.header a:hover {
  color: #e7e7e7;
}

.header i {
  color: currentColor;
  cursor: pointer;
}


.time {
  margin-left: 8px;
  color: white;
  font-weight: 300;
}

.iconLink {
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.iconLink:hover {
  color: #e7e7e7;
}
