.window {
  position: absolute;
  top: 120px;
  left: 120px;
  width: 520px;
  height: 360px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  color: #000;

  z-index: 1000;
}

.titleBar {
  position: relative;
  height: 36px;
  background: #f0f0f0;
  display: flex;
  align-items: center;
  user-select: none;
}

/* BOTONES (izquierda) */
.controls {
  display: flex;
  align-items: center;
  padding-left: 12px;
  z-index: 2;
}

/* BOTÓN ROJO */
.close {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ff5f57;
  border: none;
  cursor: pointer;

  position: relative;
  padding: 0;
}


/* X oculta */
.close::before,
.close::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 1px;
  background: #8f0404;
  transform-origin: center;
  opacity: 0;
}
.close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.controls:hover .close::before,
.controls:hover .close::after {
  opacity: 1;
}

/* TÍTULO CENTRADO */
.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;
  font-weight: 500;
  color: #757575;
  text-shadow: #000000;
  pointer-events: none;
}

.content {
  padding: 16px;
  font-size: 14px;
}
