    .body {
    padding: 8px 25px;
    }

    .list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    }

    .item {
    color: #3675ff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    }

    .item:hover {
    text-decoration: underline;
    }
