    .body {
    height: 100%;
    padding: 10px 18px;
    box-sizing: border-box;
    }

    .list {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    overflow: auto;          
    padding-right: 6px;
    -webkit-overflow-scrolling: touch;
    }

    .item {
    color: #3675ff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    }

    .item:hover {
    text-decoration: underline;
    }

    
    @media (max-width: 900px) {
    .body {
        padding: 10px 14px;
    }

    .item {
        font-size: 13px;
    }
    }
