.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  background-color: var(--desktop-bg, #e5e5e5);
  background-image: var(--desktop-image, none);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.desktopArea {
  flex: 1;
  overflow: hidden;
  position: relative;
}
